[run]
omit =  opencivicdata/tests/*
        opencivicdata/core/migrations/*
        opencivicdata/core/admin/*
        opencivicdata/legislative/migrations/*
        opencivicdata/legislative/admin/*
