{% extends "admin/base_site.html" %}

{% block content %}

<h3>Add the following aliases?</h3>

<ul>
  {% for person in people %}
  <li> {{ person }}
    <ul>
      {% for name in person.new_names %}
      <li> {{ name }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

<form action="{% url 'confirm_unresolved_legislators' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="confirm" value="1">

  {% for person in people %}
  {% for name in person.new_names %}
    <input type="hidden" name="{{person.id}}" value="{{name}}">
  {% endfor %}
  {% endfor %}

  <input type="submit" value="Yes">
  <input type="button" value="Cancel">
</form>

{% endblock %}
